.tags-input {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  min-height: 48px;
  width: 480px;
  padding: 0 8px;
  border: 1px solid rgb(214, 216, 218);
  border-radius: 6px;
}

.tags-input input {
  flex: 1;
  width: 28.125rem;
  border: none;
  height: 46px;
  font-size: 14px;
  padding: 4px 0 0 0;
  &:focus {
    outline: transparent;
  }
}
#tags {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 8px 0 0 0;
}

.tag {
  width: auto;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0 8px;
  font-size: 14px;
  list-style: none;
  border-radius: 6px;
  margin: 0 8px 8px 0;
  /* background: #0052cc; */
  .tag-title {
    margin-top: 3px;
  }
}
.tag-close-icon {
  display: block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  font-size: 14px;
  margin-left: 8px;

  cursor: pointer;
}

@media screen and (max-width: 567px) {
  .tags-input {
    width: calc(100vw - 32px);
  }
}
/* style={{
  background: "grey",
  display: "flex",
  justifyContent: "center",
  alignItems: "center",
  padding: "10px",
  width: "250px",
  borderRadius: "25px",
}} */

.color-picker-tab {
  width: 270px;
  /* background: rgb(231, 238, 250); */
  background: rgb(219, 226, 250);
  /* background: rgb(249, 239, 239); */
  margin-left: 5px;
  padding: 10px;
  position: absolute;
  border-radius: 20px;
}
.color-custom {
  position: absolute;
  margin-left: 280px;
  z-index: 5;
}
.blocker {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.list-group-item {
  cursor: pointer;
}
.list-group-item:hover {
  background-color: rgb(230, 231, 232);
}
.choose {
  display: flex;
  justify-content: "space-evenly";
}
