.expenses-filter {
  color: white;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
}

.expenses-filter__control {
  display: flex;
  width: 50%;
  align-items: center;
  margin: 1rem 0;
}

.expenses-filter label {
  font-weight: 900;
  margin-bottom: 0.3rem;
  margin-right: 0.5rem;
  font-size: 1.5rem;
  color: rgb(108, 108, 108);
}

.expenses-filter select {
  font: inherit;
  padding: 0.5rem 3rem;
  font-weight: bold;
  border-radius: 6px;
}
.search {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-input {
  height: 41.59px;
  border-radius: 8px;
  border: 1px solid black;
}
