.update-expense {
  /* line-height: 0; */
  background-color: #ffffff;
  padding: 1rem;
  margin: 2rem auto;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.update-expense button {
  font: inherit;
  height: 2.6rem;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  color: white;
  border-radius: 0.6rem;
  margin-right: 1rem;
}

.update-expense__controls {
  display: flex;
  /* line-height: 0; */
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.update-expense__control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.update-expense__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}
.update-expense__control {
  width: 100%;
}
.update-expense__actions {
  text-align: right;
}
.update-expense button.canel {
  background-color: transparent;
  border: 0;
  color: #0c6efd;
  margin-right: 5px;
}

.update-expense button.canel:hover {
  background-color: #e1e1e1;
}
.update-expense button.confirm {
  background-color: #0c6efd;
  border: 0;
}
.update-expense button.confirm:hover {
  background-color: #0a53c1;
}
