.new-expense {
  background-color: #ffffff;
  padding: 1rem;
  margin: auto;
  height: 3rem;
  width: 95%;
  border-radius: 12px;
  text-align: center;
  display: flex;
  justify-content: start;
  align-items: center;
}

.new-expense button {
  font: inherit;
  cursor: pointer;
  height: 1.25rem;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  border: 1px solid #40005d;
  background-color: #40005d;
  color: white;
  border-radius: 12px;
}

.new-expense button:hover,
.new-expense button:active {
  background-color: #510674;
  border-color: #510674;
}

.new-expense button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.new-expense button.alternative:hover,
.new-expense button.alternative:active {
  background-color: #ddb3f8;
}
