.new-expense {
  background-color: #ffffff;
  padding: 1rem;
  margin: auto;
  height: 3rem;
  width: 92%;
  border-radius: 12px;
  text-align: center;
  display: flex;
  justify-content: end;
  align-items: center;
}

.new-expense button {
  justify-content: center;
  font: inherit;
  cursor: pointer;
  height: 2.6rem;
  display: flex;
  font-size: 16px;
  align-items: center;
  padding-right: 0.8rem;
  font-weight: 900;
  border: 0;
  background-color: #0c6efd;
  color: white;
  border-radius: 10px;
}

.new-expense button:hover,
.new-expense button:active {
  background-color: #0857cd;
}

.new-expense button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.new-expense button.alternative:hover,
.new-expense button.alternative:active {
  background-color: #ddb3f8;
}
