.navbarhead {
  position: fixed;
  top: 0;
  width: 96%;
  z-index: 99;
  background-color: white;
  border-bottom: 0.1875rem solid #f0f0f0;
  margin: 0 2% 0 2%;
}
#root {
  margin-top: 7rem;
}

.navbar-toggler {
  border: none;
  outline: none;
  display: flex; /* Add this */
  align-items: center; /* Add this */
  z-index: 99;
}

.navbar-nav {
  width: 100%;
  display: flex;
}

.nav-link {
  flex: 1 0 auto;
  text-align: center;
  color: white;
  height: 100%;
  padding: 0.5rem;
  margin-right: 2rem;
}

.nav-link:hover {
  border-bottom: #0c6efd 3px solid;
  color: white;
  transition: 0.1s;
}

.nav-link.active {
  font-weight: bold;
  border-bottom: #0c6efd 3px solid;
}

.avatar {
  vertical-align: middle;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
}

.icon {
  display: flex;
  align-items: center;
}

.logout {
  margin-left: 0.5rem;
}

.nav-logout {
  background-color: #0c6efd;
  height: 1.875rem;
  border-radius: 5px;
  width: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
}
.nav-logout:hover {
  color: white;
  background-color: #0659d6;
}
.navbar-expand-sm {
  border-bottom: 0;
  justify-content: space-between !important;
}
.navbar-collapse {
  justify-content: space-between;
}

@media (max-width: 35.9375rem) {
  .navbar-nav {
    flex-direction: column;
    align-items: center;
    margin-top: -1.3rem;
  }

  .nav-link {
    width: 20%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: 100%;
    margin-right: 0;
  }

  .nav-link:hover {
    color: initial;
    border-bottom: 0 !important;
  }

  .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    display: none;
  }

  .nav-link.active {
    color: #0c6efd !important;
    border-bottom: 0 !important;
  }

  .show .dropdown-menu {
    display: block;
  }
  .navbar-toggler:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  .icon {
    padding-left: 1rem;
  }
}
