.chart-budgetBar {
  height: 1rem;
  width: 50rem;
  display: flex;
  align-items: center;
}

.chart-budgetBar__inner {
  height: 100%;
  width: 100%;
  border: 1px solid #313131;
  border-radius: 12px;
  background-color: #c3b4f3;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chart-budgetBar__fill {
  /* background-color: #4826b9; */
  height: 100%;
  transition: all 0.3s ease-out;
}

.chart-budgetBar__label {
  font-weight: bold;
  font-size: 0.5rem;
  text-align: center;
}
