ol {
  list-style-type: none !important;
}
.p1 {
  font-weight: 600;
  font-size: 15px;
}
.accordion-button1 {
  display: flex;
  justify-content: end;
}

.accordion-button:not(.collapsed) {
  background-color: transparent;
  box-shadow: none;
}
.accordion-button::after {
  opacity: 0;
}
.css-15v22id-MuiAccordionDetails-root {
  background-color: #ffffff !important;
  height: 15rem;
}
.css-15v22id-MuiAccordionDetails-root ol {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

li button {
  height: 3rem;
  background-color: #ffffff;
  cursor: pointer;
  padding: 0 1rem;
  border-radius: 5px 0px 0px 5px;
  border: 0px;
  color: black;
}
.delete-button {
  background-color: rgb(255, 255, 255);
  border-radius: 0px 5px 5px 0px;
}

li button:hover,
li button:active {
  background-color: #0c6efd;
  color: white;
  transition: 0.2s;
  border: 0;
}
.css-ahj2mt-MuiTypography-root {
  font-weight: 500 !important;
  font-size: 25px !important;
  padding: 0.6rem;
  border-radius: 12px;
}
.css-1elwnq4-MuiPaper-root-MuiAccordion-root.Mui-expanded {
  margin: 0px !important;
}
