.container {
  width: 100%;
  max-width: 86.4375rem;
}
.wrapper {
  width: 95%;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
}
.btn.btn.btn-primary1 {
  background-color: #0c6dfd;
  color: white;
  font-size: 16px;
}
.btn.btn.btn-primary1:hover {
  background-color: #0957cd;
  color: white;
}
.btn.btn.btn-primary2 {
  background-color: #0c6dfd;

  color: white;
  border-radius: 80%;
}
.btn.btn.btn-primary2:hover {
  background-color: #0957cd;
  color: white;
}
.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  justify-items: "center";
  background-color: #f5f5f5;
  padding: 25px 15px 30px 15px;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}
.note-filter-tool {
  display: flex;
  margin-top: 15px;
  margin-bottom: 1.25rem;
  justify-content: space-between;
}
.orderArr {
  width: 9.375rem;
  height: 2.6875rem;
  margin-right: 0.9375rem;
}
.note-create-circle {
  position: fixed;
  border: 1.5px solid white;
  right: 5%;
  top: 80%;
  width: 5.625rem;
  height: 5.625rem;
  z-index: 99;
}

@media (min-width: 500px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 600px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 900px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* @media (min-width: 1000px) {
  .btn-group {
    width: 100%;
  }
}
@media (min-width: 750px) {
  .btn-group {
    width: 30%;
  }
}
*/
