.note-tool {
  background-color: rgb(255, 255, 255);
  color: black;
  border: 0px;
  padding: 5px;
}
.note-tool:hover {
  background-color: #0e6cfd;
  color: white;
  border: 0px;
  transition: 0.2s;
}
.tool-flex {
  flex: 1;
}
.card {
  background-color: white;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 1px 8px rgba(123, 123, 123, 0.25);
  width: 98%;
  height: 98%;
  margin: auto;
}
.note-item-tool {
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 0;
}
@media (min-width: 500px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 50%) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1000px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1000px) {
  .btn-group {
    width: 100%;
  }
}
@media (min-width: 750px) {
  .btn-group {
    width: 30%;
  }
}
